// Base variables
// --------------

$base-font-size:    rem-calc(16);
$border:            #cbc7c7;
$border-forms:      #949494;
$brand-secondary:   #0054ad;
$delete:            #b30000;
$focus-middle:      #f9f9f9;
$focus-outer:       #193146;
$footer:            #c9d8ff;
$highlight-soft:    #f0f3f6;
$highlight-text:    #475252;
$hover:             darken($brand, 20%);
$hover-secondary:   darken($brand-secondary, 20%);
$info:              #065b93;
$label:             #00469f;
$light:             #f2f5f7;
$link-dark:         #493d57;
$link-soft:         #a099a8;
$unlike:            #da262b;

$brand:       #9144a5;
$dark:        darken($brand, 20%);
$green:       #00c4a8;

$text:        #505050;

$link:        #9144a5;
$link-hover:  #505050;

// Custom variables
// ----------------
$footer: $brand;
$footer-text-color: #fff;
