.top-bar-title {
  background: none;
}

footer {
  color: $footer-text-color;
}

.footer {
  .title {
    border-color: $text;
  }

  a:hover {
    color: #fff;
    border-color: #fff;
  }

  .social {
    ul {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }

    a {
      color: $social-color;
      background: $social-background;
      margin: 0;

      &:hover {
        color: $social-color-hover;
        background: $social-background-hover;
      }
    }
  }
}



.home-page,
.custom-page,
.sdg-goal-show,
.sdg-goals-index {
  h2,
  h3 {
    &.title {
      border: 0;
    }
  }

  .card .figure-card figcaption h3 {
    min-height: unset;
    left: 0.75rem;
    right: 0.75rem;
    bottom: 0.75rem;
    margin: 0;
    padding: rem-calc(10) rem-calc(12);
  }
}

.figure-card:not(.home-page .figure-card) .gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 70%, rgb(0, 0, 0) 160%);
}

.budget-header::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 30%, rgb(0, 0, 0) 120%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-color, inherit);
}

#header_image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;

  padding: 0;

  z-index: -1;
  filter: brightness(45%);


  @media screen and (min-width: 75em) {
    left: calc(37.5rem - 50vw);
    right: calc(37.5rem - 50vw);
    width: auto;
  }

  img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.jumbo.header-card {
  color: #fff;
  padding: 10rem 0;

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }

  .row {
    display: flex;
    justify-content: center;
  }
}

footer > *:not(.subfooter) {
  display: none;
}

footer .subfooter {
  margin: 0;
  padding: 0;
}

.is-dropdown-submenu-item a {
  color: var(--brand);

  &:hover,
  &.is-active {
    text-decoration: underline;
    color: var(--brand);
  }
}

.subnavigation .dropdown.menu > li.is-active > a {
  color: white;
}
