// Base variables
// --------------

$base-font-size:    rem-calc(16);
$border:            #cbc7c7;
$border-forms:      #949494;
$brand:             #211e52;
$brand-secondary:   #98d7e8;
$dark:              #211e52;
$delete:            #b30000;
$focus-middle:      #f9f9f9;
$focus-outer:       #193146;
$footer:            #c6d5e1;
$footer-text-color: #211e52;
$highlight-soft:    #f0f3f6;
$highlight-text:    #475252;
$hover:             #211e52;
$hover-secondary:   darken($brand-secondary, 20%);
$info:              #065b93;
$label:             #00469f;
$light:             #f2f5f7;
$like:              #21a562;
$link-dark:         #493d57;
$link-hover:        $brand;
$link-soft:         #a099a8;
$text:              #000;
$unlike:            #da262b;

$button:            #ffbb35;
$button-text:       #211e52;
