// Customized styles
//

:root {
  --brand: #{$brand};
  --brand-secondary: #{$brand-secondary};

  --button-background: #98d7e8;
  --button-text: #{$brand};

  --button-background-hover: #88bdcc;
  --button-background-hover-contrast: var(--button-text);

  --current-phase: #{$button};
  --current-phase-contrast: #{$button-text};

  --current-phase-hover: #211e52;
  --current-phase-hover-contrast: #98d7e8;

  --dark: #{$dark};
  --dark-contrast: #98d7e8;

  --top-bar-title: #98d7e8;

  --title-border: #{$title-border};

  --footer: #{$footer};
  --footer-text-color: #{$footer-text-color};

  --subnavigation: #ebf0f7;
  --subnavigation-contrast: #211e52;
  --subnavigation-contrast-hover: #{$brand};

  --budget-phases-background: #faecd4;
  --phase-tab: #ffbb35;
  --phase-tab-contrast: var(--brand);

  --tag: #ffbb35;
  --tag-color: var(--brand);
  --tag-hover: #f7b736;
}

body,
h1,
h2,
h3,
h4,
p,
a {
  font-family: $body-font-family;
}

p {

  a {

    &:not(.button) {
      text-decoration: underline !important;
    }
  }
}

form select,
form [type]:not([type="button"],
[type=checkbox],
[type=file],
[type=radio],
[type=submit]):not(.close-button) {
  border: 2px solid #8397a5;
}

.home-page,
.custom-page {
  .card {
    a {
      display: flex;
      flex-direction: column;
    }

    .figure-card figcaption h3 {
      font-size: 1.25rem;
      overflow-wrap: anywhere;
    }

    h4,
    p {
      &:last-child {
        align-self: flex-end;
        background: $button;
        color: $button-text;
        float: right;
        margin-top: auto;
        margin-right: 1rem;
        font-size: 0.85rem;
      }
    }
  }
}

.investments-list .investments-list-item .read-more {
  display: flex;
  background: $button;
  color: $button-text;
  padding: 0 0.25rem;
}

.ssb-linkedin {
  @include has-fa-icon(linkedin, brands);
  background: #0e76a8;

  &:hover,
  &:focus {
    color: #0e76a8;
  }
}

.menu-button {
  color: $brand;
}

.home-page .jumbo {
  margin-right: 0;

  @include breakpoint(large) {
    min-height: 0;
  }

  h1 {
    font-size: rem-calc(36);

    @include breakpoint(large) {
      font-size: rem-calc(50);
    }
  }
}

.view-mode .button {

  &:hover {

    &::before {
      color: #fff;
    }
  }
}

.top-links {
  background-color: var(--dark);
  color: var(--dark-contrast);
}

.top-bar {
  padding: 0;
}

.budget-phase-content h2 {
  text-align: left;
}

.map .map-marker .map-icon {
  background: $brand;
}

.icon-check {
  color: $brand !important;
}

.comment-votes button,
.comment-votes form,
.in-favor-against button {
  color: #808080;
}

.debate .debate-description,
.proposal .proposal-description,
.budget-investment .investment-project-description {
  height: rem-calc(96);
}

.top-bar h1.top-bar-title a {
  height: 5rem;

  img {
    height: 100%;
  }
}

.level-1,
.level-2,
.level-3,
.level-4,
.level-5,
.is-author,
.is-association {
  background: var(--footer);
  color: var(--footer-text-color);
}

.footer .logo {
  max-width: 200px;
}

.subfooter {
  display: flex;
  align-items: flex-end;

  .column {
    ul {
      margin-bottom: 0;
    }
  }
}
