.home-page .figure-card,
.custom-page .figure-card {
  .gradient:not(:has(+ img)) {
    background: $button-background;
  }

  figcaption:not(img + figcaption) h3 {
    font-weight: 700;
    color: #38672f;
  }
}

.debate-questions .quiz-header {
  .quiz-title {
    background: #fbf2da;
  }

  .quiz-next {
    background: #ffbb35;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    &:hover {
      background: var(--brand, #211e52);
      color: var(--brand-contrast, #fff);
    }
  }

  .quiz-title .quiz-header-title {
    color: var(--brand, #211e52);
  }
}
